[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
certifi = "*"
charset-normalizer = "*"
django = "*"
django-debug-toolbar = "*"
idna = "*"
mysqlclient = "*"
requests = "*"
sqlparse = "*"
stripe = "*"
typing-extensions = "*"
tzdata = "*"
urllib3 = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.11"
