{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunder</title>
    <link rel="stylesheet" href="{% static 'css/stylesCustomer.css' %}">
</head>
<body>
    <div class="container">
        <h1>Kunder</h1>
        <ul class="customer-list">
            {% for customer in customers %}
                <li class="customer-item">
                    <span class="customer-name">{{ customer.Full_name }}</span> 
                    - <span class="customer-email">{{ customer.Email }}</span> 
                    - <span class="customer-region">{{ customer.Region }}</span> 
                    - <span class="customer-phone">{{ customer.phone }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

