{% load static %}

<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Din Hemsida</title>
    <link rel="stylesheet" href="{% static 'css/stylesHP.css' %}">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <h1>Mitt företag</h1>
                <ul class="nav-list">

                    <li><a href="{% url 'all_resources' %}">Visa alla resurser</a></li>

                    {% if user.is_authenticated and user.is_staff %}
                        <li><a href="{% url 'add_resource' %}">Lägg till resurs</a></li>
                        <li><span>Användare: {{ user.username }}</span></li>
                        <li><a href="{% url 'logga_ut' %}">Logga ut</a></li>
                    {% else %}
                        <li><a href="{% url 'custom_login' %}">Logga in</a></li>
                    {% endif %}
                    
                    <li><a href="{% url 'users_view' %}">Visa användare</a></li>

                </ul>
            </div>
        </nav>
    </header>

    <section class="hero">
        <div class="container">
            <h2>Välkommen till vår hemsida!</h2>
            <p>Här kan du lära känna oss bättre och se vad vi kan erbjuda.</p>
            <a href="#" class="cta-button">Läs mer</a>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>© 2023 Mitt företag. Alla rättigheter förbehållna.</p>
        </div>
    </footer>
</body>

</html>

